public static final class Help {
    public static final class Print implements Runnable {

        private final java.io.PrintStream out;

        public Print(final java.io.PrintStream out) {
            this.out = out;
        }

        public Print() {
            this(System.out);
        }

        @Override
        public void run() {
            this.out.println();
            this.out.println("Usage: $commandToHelpUsage.get($command)");
            this.out.println();
            this.out.println("$command.description");
            #if($command.options)
                this.out.println();
                this.out.println("Options:");
                #foreach($option in $command.options.option)
                    #foreach($line in $optionToHelpLines.get($option))
                        this.out.println("$line");
                    #end
                #end
            #end
            #if($command.commands)
                this.out.println();
                this.out.println("Commands:");
                #foreach($line in $commandToHelpLinesForSubCommands.get($command))
                    this.out.println("$line");
                #end
            #end
        }
    }

    public static final class Requested extends Utils.Delegated<Boolean> {

        public Requested(final java.util.function.Supplier<CommandData> data) {
            super(() -> data.get().help);
        }

        public Requested(final CommandData data) {
            this(() -> data);
        }

        public Requested(final String... arguments) {
            this(new ParsedData(arguments));
        }
    }

}
