public static final class Options {
    #foreach($option in $command.options.option)
        #set($optionClass = $StringUtils.capitalize($option.name))
        public static final class $optionClass extends Utils.Delegated
            #if($option.type.equals('boolean'))
                <Boolean> {

                public $optionClass(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionBoolean(data, "$option.name"));
                }
            #elseif($option.type.equals('double'))
                <Double> {

                public $optionClass(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionDouble(data, "$option.name"#if($option.default), "$option.default"#end));
                }
            #elseif($option.type.equals('int'))
                <Integer> {

                public $optionClass(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionInt(data, "$option.name"#if($option.default), "$option.default"#end));
                }
            #elseif($option.type.equals('list'))
                <java.util.List<String>> {

                public $optionClass(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionList(data, "$option.name"));
                }
            #elseif($option.type.equals('string'))
                <String> {

                public $optionClass(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionString(data, "$option.name"#if($option.default), "$option.default"#end));
                }
            #end

            public $optionClass(final CommandData data) {
                this(() -> data);
            }

            public $optionClass(final String... arguments) {
                this(new ParsedData(arguments));
            }

            public static final class Provided extends Utils.Delegated<Boolean> {
                public Provided(final java.util.function.Supplier<CommandData> data) {
                    super(new Utils.OptionProvided(data, "$option.name"));
                }

                public Provided(final CommandData data) {
                    this(() -> data);
                }

                public Provided(final String... arguments) {
                    this(new ParsedData(arguments));
                }
            }
        }
    #end
}
